
snippet _caption "Print out caption in vimrc file" b
""""""""""""""""""""""""""""""""""""""""""""""""""""""
" ${1:Caption}
""""""""""""""""""""""""""""""""""""""""""""""""""""""
${2:block}
""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet
